#title {
    border: red solid 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 150px;
}


#search-container {
    display: flex;
    justify-content: left;
    width: 60px; 
}
#city-search {
    display: flex;
    justify-content: left;
    width: 60px;   
}
#city-input {
    display: flex;
    justify-content: left;
    width: 60px; 
}
#searchBtn {
    display: flex;
    justify-content: left;
    width: 60px;
}

#search {
    border: red solid 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
}

#api {
    /* border: red solid 3px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#weather-api {
    border: red solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.sunCity {
    border: red solid 3px;
    width: 100%;
    text-align: center;
}

.sunCardContainer {
    /* border: blue solid 3px; */
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* background-image: url('../images/suncard2.jpeg');
    background-size: cover;
    background-position: center; */
}

.sunCard {
    /* border: red solid 3px; */
    text-align: center;
    margin: 0 50px;
}

/* .sunCardContainer img {
    object-fit: cover;
} */